.service{
  padding: 50px 0;

  &__title{
    font-size: 40px;
    font-weight: 700;
    line-height: 123.047%;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding-top: 29px;

    &::before{
      content: '';
      width: 90px;
      height: 6px;
      background: #C8A35F;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__content{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
  }

  &__box{
    text-align: center;
    width: 25%;
    padding: 27px 40px 35px;
    background: #393F47;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
      border-radius: 50%;
      overflow: hidden;
      width: 80px;
      height: 80px;

      img{
        width: 100%;
      }
    }

    &:hover{
      cursor: pointer;
      background: #C8A35F;
      transform: scale(1.02);
    }
  }
}


@media (max-width: 900px) {
  .service__box{
    width: 33.33333%;
  }
}

@media (max-width: 650px) {
  .service{
    padding: 20px 0;
  }
}

@media (max-width: 600px) {
  .service__box{
    width: 50%;
  }
}

@media (max-width: 500px) {
  .service__title{
    font-size: 30px;
    padding-top: 15px;
  }
}

@media (max-width: 400px) {
  .service__box{
    width: 100%;
  }
}

